/* Color Scheme */
/* Light Brown #dbd2d1 
   Dark Brown #645344
   Darker Brown #453f39
   Green #a9c5b9
   Light Green #dae9e7
   Lighter Green #e6f0ef
*/

*{
    color: #dbd2d1;
    background-color: #645344;
    font-size: 30px;
    font-family: "Trebuchet MS";
}

#title {
    text-align: center;
    color: #a9c5b9;
    font-size: 80px;
    font-family: serif;
    background: white;
	margin: 0px;
    padding: 20px;
}

.library{
    background: #453f39;
    padding: 10px;
}

.library h2{
    font-size: 40px;
    color: #dbd2d1;
    background: #453f39;
    padding: 10px;
}

.library p{
    color: #dbd2d1;
    background: #453f39;
    padding: 10px;
    font-size: 20px;
}