/* Color Scheme */
/* off-white #ecebed
   light pink #f2dde3
   pink #eeccd4
   brown #836d6d
   blue #5971a4
   green #c4d6d1
*/

*{
    color: #5971a4;
    background-color: #ecebed;
    font-size: 30px;
    font-family: "Trebuchet MS";
}

#title {
    text-align: center;
    color: #5971a4;
    font-size: 80px;
    font-family: serif;
    background: #eeccd4;
	margin: 0px;
    padding: 20px;
}

.library{
    background: #5971a4;
    padding: 10px;
}

.library h2{
    font-size: 40px;
    font-family: serif;
    color: #ecebed;
    background: #5971a4;
    padding: 10px;
}

.library p{
    color: #c4d6d1;
    background: #5971a4;
    padding: 10px;
    font-size: 20px;
}

h3{
    font-size: 20px;
    font-family: serif;
    color: #ecebed;
    background: #5971a4;
}